Arena/experiments/**
Arena/events/**
Arena/.archive/**
Arena/analysis/predictors/yolov5/runs/detect/**
output/**
docker/**
**/*.jpg
**/*.png
**/*.csv
**/*.avi
**/*.mp4
!pogona_hunter/**/*.jpg
!Arena/static/*.jpg
!pogona_hunter/**/*.png
