# Created by .ignore support plugin (hsz.mobi)
.idea/*
#*/.idea/*
!/.idea/runConfigurations
__pycache__/
.ipynb_checkpoints/
output/*
Arena/alembic/versions
.env*
*.weights
*.avi
*.mp4
*.pth
*.conv.74
*.*~
*.log
*.DS_Store
*.npy
*new_frames*
test_images/
stats/
*.p
*.jpg
*.jpeg
*.png
std*.txt


Archive/
Arena/calibration/*
yolo_eval_frames
yolo_fn_frames
yolo_eval_labels
experiment_plots

Arena/Prediction/Yolo4/darknet
Arena/Prediction/Yolo4/libdarknet.so
