# Created by .ignore support plugin (hsz.mobi)
.idea/*
__pycache__/
.ipynb_checkpoints/
*.weights
*.avi
*.mp4
*.pth
*.jpg
*.png
*.txt
*.conv.74
*.*~
*.log
*.DS_Store
*.npy
*new_frames*
test_images/
stats/
