<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arena</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.0/css/bootstrap.css')}}">
</head>

<body>

<div class="row">
    <div class="col">
        <h1 class="p-2" style="font-size: 4em; text-align: center; margin-bottom: 0.5em">Pogona Pursuit</h1>
        <div class="row" id="controls-panel">
            <form class="col-md-5" id="experiment_form">
                <h3>Start Experiment</h3>
                <div class="form-group row pr-3">
                    <label for="experimentName" class="col col-form-label">Experiment Name</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="experimentName" value="{{experiment_name}}"
                               required>
                    </div>
                </div>
                <div class="form-group row pr-3">
                    <label for="experimentTimeout" class="col col-form-label">Experiment Time [minutes]</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="experimentTimeout" value="{{experiment_timeout}}"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary mr-2">Start</button>
                        <button id="stopExperiment" type="button" class="btn btn-outline-danger">Stop Experiment
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="row"><b>Current Experiment Name:</b></div>
                    <div class="row" id="currentExperimentName"></div>
                </div>
            </form>
            <form class="col-md-4" id="record_form">
                <h3>Record</h3>
                <div class="form-group row">
                    <label for="exposure" class="col col-form-label">Exposure Time</label>
                    <div class="col-sm-5">
                        <input type="number" class="form-control" id="exposure" value="{{exposure}}" required>
                    </div>
                </div>
                <h7 class="label">Acquire Stop</h7>
                <div class="form-group row">
                    <div class="col">
                        <select id="acquireStopSelect" class="form-control col">
                            {% for val, label in acquire_stop.items() %}
                            <option value="{{val}}">{{label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input id="acquireStopValue" class="col-sm-4 ml-1" type="int" class="form-control"
                           placeholder="Value" required>
                </div>
                <div class="form-group row">
                    <div class="col">Cameras</div>
                    <div class="col-sm-5">
                        {% for cam in cameras %}
                        <div class="row" id="cams-checkboxes">
                            <input class="form-check-input" type="checkbox" id="{{cam}}" checked>
                            <label class="form-check-label" for="{{cam}}">{{cam}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <button type="submit" class="btn btn-primary mr-2">Run</button>
                        <button id="stopRecord" type="button" class="btn btn-outline-danger">Stop Record</button>
                    </div>
                </div>
            </form>
            <div class="col-md-3" id="events_column">
                <h3 style="text-align: center; margin-bottom: 1em">Events</h3>
                <div class="row mb-2">
                    <button id="init_bugs" class="btn btn-lg btn-primary mx-auto">Start Bugs</button>
                </div>
                <div class="row mb-2">
                    <button id="hide_bugs" class="btn btn-lg btn-primary mx-auto">Hide Bugs</button>
                </div>
            </div>
        </div>
        <pre class="row" id="record-output"></pre>
    </div>

    <div class="col">
        <div class="row">
            <img id="stream_img" src="{{ url_for('static', filename='video_placeholder.jpg') }}"
                 width="640" height="420" class="mx-auto" style="z-index: 10">
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <button id="stream" class="btn btn-lg btn-primary mr-2">Stream</button>
                <button id="stopStream" class="btn btn-lg btn-outline-danger">Stop Stream</button>
            </div>
        </div>
    </div>

    <div id="footer">
        <img src="{{ url_for('static', filename='pogona_white_background.jpg') }}" alt="">
        <h4>Written by Reggev Eyal</h4>
    </div>
</div>

</body>

<script>
  $(function () {
    $.get('/get_experiment', function (data) {
      $("#currentExperimentName").text(data)
    })
    $("#stream").click(function () {
      $("#stream_img").attr("src", "{{ url_for('video_feed') }}")
    });
    $("#stopStream").click(function () {
      $("#stream_img").attr("src", "{{ url_for('static', filename='video_placeholder.jpg') }}")
    });
    $("#stopExperiment").click(function () {
      $.get('/stop_experiment', function (data) {
        $("#record-output").text(data);
        $.get('/get_experiment', function (data) {
          $("#currentExperimentName").text(data)
        });
      }).beforeSend(function () {
        $("#record-output").text('stopping experiment...')
      })
    });
    $("#experiment_form").submit(function (event) {
      event.preventDefault();
      $.ajax({
        url: "/start_experiment",
        type: "POST",
        data: JSON.stringify({
          name: $("#experimentName").val(),
          time: Number($("#experimentTimeout").val()) * 60,
        }),
        contentType: "application/json",
        beforeSend: function () {
          $("#record-output").text('initializing experiment...')
        },
        complete: function (res) {
          $("#record-output").text(res.responseText)
          $.get('/get_experiment', function (data) {
            $("#currentExperimentName").text(data)
          });
        }
      })
    });
    $("#record_form").submit(function (event) {
      event.preventDefault();
      $.ajax({
        url: "/record",
        type: "POST",
        data: JSON.stringify(Object.assign({
          exposure: Number($("#exposure").val()),
          camera: getCheckedCameras(),
          is_auto_start: true
        }, getAcquireStop())),
        contentType: "application/json",
        beforeSend: function () {
          $("#record-output").text('recording...')
        },
        complete: function (res) {
          $("#record-output").text(res.responseText)
        }
      })
    });
    $("#stopRecord").click(function () {
        $.get("/manual_record_stop", function (data) {
            $("#record-output").text(data)
        })
    })
    const AcquireStopWithValue = ['num_frames', 'record_time'];
    $("#acquireStopSelect").change(function (e) {
      let isValued = AcquireStopWithValue.indexOf($("#acquireStopSelect").val()) !== -1;
      let acqValue = $("#acquireStopValue");
      if (isValued) {
        acqValue.show()
      } else {
        acqValue.hide()
      }
      acqValue.prop('required', isValued);
    })
    $("#init_bugs").click(function (e) {
      $.get('/init_bugs')
    })
    $("#hide_bugs").click(function (e) {
      $.get('/hide_bugs')
    })

    function getCheckedCameras() {
      let a = []
      $("#cams-checkboxes input").each(function (e) {
        if (this.checked) {
          a.push(this.id)
        }
      });
      return a.join(',')
    }

    function getAcquireStop() {
      let d = {};
      d[$("#acquireStopSelect").val()] = $("#acquireStopValue").val();
      return d;
    }
  })
</script>

<style>
    body {
        padding: 20px;
    }

    #footer {
        position: fixed;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 1em;
    }

    #controls-panel {
        border-top: 1.5px solid black;
        border-bottom: 1.5px solid black;
        padding-top: 1em;
        padding-bottom: 1em;
    }
</style>

</html>