<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arena</title>
    <script src="{{ url_for('static', filename='jquery.js') }}" type="text/javascript"></script>
    <!--        <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>-->
    <script crossorigin="anonymous"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link href="{{ url_for('static', filename='bootstrap-4.5.0/css/bootstrap.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='Bootstrap-4-Multi-Select-BsMultiSelect/dist/js/BsMultiSelect.js') }}"
            type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='fields.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='WebSocketClient.js') }}" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />
</head>

<body>
<div class="row">
    <div class="col-xl-7">
        <h1 class="p-2" style="font-size: 4em; text-align: center; margin-bottom: 0; padding-bottom: 0 !important;">Pogona Pursuit</h1>
        <h4 style="text-align: center; margin-bottom: 1em">{{arena_name}}</h4>
        <div class="row top-border bottom-border" id="all-panels" style="padding-bottom: 0">
            <div class="col-md-5 control-panel right-border" style="padding: 0">
                {% include "management/left_panel.html" %}
            </div>
            <div class="col control-panel" style="padding: 0">
                {% include "management/middle_panel.html" %}
            </div>
        </div>
        <pre class="row scrollable" id="record-output"></pre>
    </div>
    <div class="col">
        {% include "management/stream.html" %}
        <button id="clearOutputButton" class="btn btn-secondary" style="position: relative;left: 0; top: 90px">
            <i class="fa fa-eraser"></i>
        </button>
    </div>
    {% include "management/footer.html" %}
</div>

</body>

<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: "DD/MM/YYYY HH:mm",
            todayHighlight: true
        });
        $('#datetimepicker2').datetimepicker({
            format: "DD/MM/YYYY HH:mm",
            useCurrent: false
        });
        let wsclient = new WebSocketClient('ws://127.0.0.1:6380', {
            reconnectEnabled: true,
            reconnectInterval: 5000 // time to reconnect in milliseconds
        })
        wsclient.onError = (event) => {
            appendOutput('Error connecting to Redis', color='red')
        }
        wsclient.connect()
        wsclient.subscribe({
            "{{log_channel}}": (msg) => {
                appendOutput(msg)
            }
        })
        const maxBlocks = Number("{{max_blocks}}")
        const cameras = "{{ cameras|join(',') }}".split(',')
        const $numBlocks = $("#numBlocks")
        const apiCheckTimeout = 1000
        let currentStreamingCamera = null
        let settingStreamCamera = false
        let checkedCameras = []
        let schedulesList = []

        let isToggleCamsCheckPause = false
        let isToggleTriggerCheckPause = false
        let api_check = function () {
            $.ajax({
                url: '/check',
                type: 'GET',
                success: function (data) {
                    if (!isToggleCamsCheckPause) {
                        let onCameras = []
                        for (let camName in data['cam_units_status']) {
                            let tog = $(`#toggle-${camName}`)
                            let isOn = data['cam_units_status'][camName]
                            if (isOn !== tog.prop('checked')) {
                                tog.bootstrapToggle('toggle')
                            }
                            if (isOn) {
                                onCameras.push(camName)
                            }
                        }
                        // Cam-trigger update
                        let trigTog = $(`#toggle-cam-trigger`)
                        if (Number(data['cam_trigger_state']) !== Number(trigTog.prop('checked'))) {
                            trigTog.bootstrapToggle('toggle')
                        }

                        $("#selectStreamCamera option").each(function () {
                            if (onCameras.indexOf(this.value) === -1) {
                                $(this).remove()
                            }
                        })
                        onCameras.forEach((camName) => {
                            if ($(`#selectStreamCamera option[value=${camName}]`).length <= 0) {
                                $("#selectStreamCamera").append($("<option></option>").attr("value", camName).text(camName))
                            }
                        })
                        $("#streamButton").prop('disabled', !onCameras.length)
                    }
                    for (let cam_name in data['cam_units_fps']) {
                        $(`#cam-fps-${cam_name}`).text(data['cam_units_fps'][cam_name]['cam_fps'].toFixed(1))
                        $(`#sink-fps-${cam_name}`).text(data['cam_units_fps'][cam_name]['sink_fps'].toFixed(1))
                        $(`#pred-fps-${cam_name}`).text(data['cam_units_fps'][cam_name]['pred_fps'].toFixed(1))
                        $(`#pred-delay-${cam_name}`).text(`${data['cam_units_fps'][cam_name]['pred_delay'].toFixed(1)}ms`)
                    }
                    for (let cam_name in data['cam_units_predictors']) {
                        $(`#predictors-${cam_name}`).text(data['cam_units_predictors'][cam_name])
                    }

                    let procText = ''
                    for (let cam_name in data['processes_cpu']) {
                        let d = data['processes_cpu'][cam_name]
                        if (!jQuery.isEmptyObject(d)) {
                            procText += `--CU-${cam_name}--` + '\n'
                            for (let procName in d) {
                                procText += `${procName}: ${d[procName]}%\n`
                            }
                        }
                    }
                    $("#procCPU").text(procText)

                    let expName = data['experiment_name']
                    let blockId = data['block_id']
                    let openAppHost = data['open_app_host']
                    let tempString = 'Temperature:'
                    for (let sensor in data['temperature']) {
                        tempString += `\n ${sensor}: ${data['temperature'][sensor] ? data['temperature'][sensor].toFixed(1) : "-"}ºC`
                    }
                    $("#temperatureValue").text(tempString)
                    // colorUpdate($("#temperatureValue"), data['temperature'], 'Temperature', '°C', 32, 25)
                    colorUpdate($("#gpuMetric"), data['gpu_usage']*100, 'GPU Usage', '%', 80)
                    colorUpdate($("#cpuMetric"), data['cpu_usage'], 'CPU Usage', '%', 80)
                    colorUpdate($("#memMetric"), data['memory_usage']*100, 'Memory Usage', '%', 80)
                    colorUpdate($("#storageMetric"), data['storage'], 'Data Storage', '%', 80, undefined, 0)

                    $("#currentExperimentName").text(expName ? `Current Experiment: ${expName}` : 'No experiment is running')
                    $("#currentBlockID").text(expName ? `Block ID: ${blockId}` : '')
                    $("#openAppHostDiv").text(openAppHost ? `pogona hunter run on: ${openAppHost}` : 'No APP is running')

                    $("#nStrikes").text(`Today Strikes Count: ${(data['n_strikes']).toFixed(0)}`)
                    $("#nRewards").text(`Today Rewards Count: ${(data['n_rewards']).toFixed(0)}`)

                    for (let feederName in data['reward_left']) {
                        let feederCount = data['reward_left'][feederName]
                        feederName = feederName.replace(' ', '-')
                        $(`#rewardCount-${feederName}`).text(feederCount ? feederCount : 0)
                    }

                    if (!settingStreamCamera && currentStreamingCamera && data['streaming_camera'] !== currentStreamingCamera) {
                        console.log(currentStreamingCamera, data['streaming_camera'])
                        stopStreaming()
                    }

                    for (let [val, label] of Object.entries(data['schedules'])) {
                        if (schedulesList.indexOf(val) !== -1) {
                            // schedule already appears in upcoming schedules
                            continue
                        }
                        $("#upcoming-schedules").append(
                            `<li class="list-group-item d-flex justify-content-between align-items-center"
                                value="${val}" id="scheduleItem${val}" style="padding: 0.6em"> ${label}
                                <button id="clearSchedule${val}" class="btn btn-secondary">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </li>`
                        )
                        schedulesList.push(val)
                        $(`#clearSchedule${val}`).click(() => {
                            $.post('/delete_schedule', {schedule_id: val})
                            $(`#scheduleItem${val}`).remove()
                        })
                    }
                    for (let val of schedulesList) {
                        if (Object.keys(data['schedules']).indexOf(val) === -1) {
                            // schedule does not exist anymore
                            $(`#scheduleItem${val}`).remove()
                        }
                    }

                    for (let selectName of ['#cachedExperimentsSelect', '#cachedExperimentsSelectSchedule']) {
                        let currentOptions = $.map($(`${selectName} option`) ,function(option) {
                            return option.value;
                        });
                        if (JSON.stringify(currentOptions) === JSON.stringify(data['cached_experiments'])) {
                            continue
                        }
                        let select$ = $(selectName)
                        select$.children().remove().end()
                        $.each(data['cached_experiments'], function (i, item) {
                            select$.append($('<option>', {
                                value: item,
                                text : item
                            }));
                        });
                    }

                    setTimeout(api_check, apiCheckTimeout)
                }
            })
        }
        api_check()

        function colorUpdate($comp, value, text, units=undefined, maxValue=undefined, minValue=undefined, fixation=1) {
            let color = 'black'
            if (!!minValue && value < minValue) {
                color = 'blue'
            } else if (!!maxValue && value > maxValue) {
                color = 'red'
            }
            $comp.text(`${text}: ${!!value ? value.toFixed(fixation): value}${units}`).css({'color': color})
        }

        let $startExpButton = $('#startExperimentButton')
        let $recordButton = $("#runRecordButton")
        let $timeBetweenBlocksDiv = $("#timeBetweenBlocksDiv")
        $startExpButton.prop('disabled', true)
        $recordButton.prop('disabled', true)
        $("streamButton").prop('disabled', true)

        // $("#toggle-cam-trigger").change((res) => {
        //     if (isToggleTriggerCheckPause) {
        //         return
        //     }
        //     isToggleTriggerCheckPause = true
        //     let requestedState = Number($(`#toggle-cam-trigger`).prop('checked'))
        //
        //     $.post('/set_cam_trigger', {state: requestedState}).done(function () {
        //         setTimeout(() => {
        //             isToggleTriggerCheckPause = false
        //         }, apiCheckTimeout)
        //     })
        // })

        cameras.forEach((cam) => {
            $(`#toggle-${cam}`).change((res) => {
                isToggleCamsCheckPause = true
                let onRequested = $(`#toggle-${cam}`).prop('checked')
                let url = onRequested ? '/start_camera_unit' : '/stop_camera_unit'
                $(`#stream-option-${cam}`).prop('disabled', !onRequested)

                $.post(url, {camera: cam}).done(function () {
                    setTimeout(() => {
                        isToggleCamsCheckPause = false
                    }, apiCheckTimeout)
                })
            })

            let camCheckBox$ = $(`#camera-${cam}`)
            camCheckBox$.prop('checked', true)
            camCheckBox$.change((res) => {
                let isChecked = $(`#camera-${cam}`).prop('checked')
                const camIndex = checkedCameras.indexOf(cam)
                if (camIndex > -1 && !isChecked) {  // in checkedCameras
                    checkedCameras.splice(camIndex, 1)
                    if (checkedCameras.length === 0) {
                        $startExpButton.prop('disabled', true)
                        $recordButton.prop('disabled', true)
                    }
                } else if (camIndex === -1 && isChecked) {
                    checkedCameras.push(cam)
                    $startExpButton.prop('disabled', false)
                    $recordButton.prop('disabled', false)
                }
            }).trigger('change')
        })

        // Get animal ID
        setTimeout(() => {
          $.get('/get_current_animal').done(data => {
              console.log(data)
              AnimalIDFields.values = data
            })
        }, 1000)

        // schedules delete buttons
        // schedulesIds.forEach((sid) => {
        //     $(`#clearSchedule${sid}`).click(() => {
        //         $.post('/delete_schedule', {schedule_id: sid})
        //         $(`#scheduleItem${sid}`).remove()
        //     })
        // })

        $("#isIdenticalBlocks").change(() => {
            $numBlocks.trigger('change')
        })

        // Number of blocks listener
        $numBlocks.change(() => {
            let numBlocks = Number($numBlocks.val())
            if (numBlocks < 2) {
                $timeBetweenBlocksDiv.hide()
            } else {
                $timeBetweenBlocksDiv.show()
            }
            let isIdenticalBlocks = $("#isIdenticalBlocks").is(":checked")
            if (isIdenticalBlocks) {
                $("#block1Button").text(`Blocks #1-${numBlocks}`)
                for (let i = 2; i <= maxBlocks; i++) {
                    $(`#block${i}`).hide()
                }
            } else {
                $("#block1Button").text(`Block #1`)
                for (let i = 1; i <= numBlocks; i++) {
                    $(`#block${i}`).show()
                }
                for (let i = numBlocks + 1; i <= maxBlocks; i++) {
                    $(`#block${i}`).hide()
                }
            }
        }).trigger('change')

        // bug types listener
        let $bugType = $(`#bugTypeSelect`)
        $bugType.bsMultiSelect()
        $bugType.change(() => {
            let $rewardBug = $(`#rewardBugDiv`)
            $(`#rewardBugSelect option`).remove()
            if ($bugType.val().length <= 1) {
                $rewardBug.hide()
            } else {
                let $el = $(`#rewardBugSelect`)
                $(`#bugTypeSelect option`).each(function (v) {
                    if (this.selected) {
                        $el.append($("<option></option>").attr("value", this.value).text(this.text)).attr('selected', true);
                    }
                });
                $el.bsMultiSelect("UpdateData")
                $rewardBug.show()
            }
        })

        // Inside block listeners
        for (let i = 1; i <= maxBlocks; i++) {
            // media or bugs experiment block
            $(`#isDefaultBugSize${i}`).change(function () {
                if (this.checked) {
                    $(`#bugSizeDiv${i}`).hide()
                } else {
                    $(`#bugSizeDiv${i}`).show()
                }
            }).trigger('change')
            let $movementType = $(`#movementTypeSelect${i}`)
            $movementType.change(function () {
                if (['static', 'random_speeds', 'random_low_horizontal'].indexOf($movementType.val()) !== -1) {
                    $(`#bugSpeedDiv${i}`).hide()
                } else {
                    $(`#bugSpeedDiv${i}`).show()
                }
            }
            ).trigger('change')

            $(`#blankRecSelect${i}`).change(() => {
                if ($(`#blankRecSelect${i}`).val() === 'continuous') {
                    $(`.trial-options${i}`).hide()
                } else {
                    $(`.trial-options${i}`).show()
                }
            }).trigger('change')

            $(`#blockTypeSelect${i}`).change(function () {
                if (isMediaExperiment(i)) {
                    $(`.trial-options${i}`).show()
                    $(`.media-options${i}`).show()
                    $(`.bugs-options${i}`).hide()
                    $(`.psycho-options${i}`).hide()
                    $(`.blank-options${i}`).hide()
                } else if (isBlankExperiment(i)) {
                    $(`.media-options${i}`).hide()
                    $(`.bugs-options${i}`).hide()
                    $(`.psycho-options${i}`).hide()
                    $(`.blank-options${i}`).show()
                    $(`#blankRecSelect${i}`).trigger('change')
                } else if (isPsychoExperiment(i)) {
                    $(`.trial-options${i}`).show()
                    $(`.media-options${i}`).hide()
                    $(`.bugs-options${i}`).hide()
                    $(`.psycho-options${i}`).show()
                    $(`.blank-options${i}`).hide()
                } else {
                    $(`.trial-options${i}`).show()
                    $(`.bugs-options${i}`).show()
                    $(`#isDefaultBugSize${i}`).trigger('change')
                    $movementType.trigger('change')
                    $(`#rewardBugDiv${i}`).hide()
                    $(`.media-options${i}`).hide()
                    $(`.psycho-options${i}`).hide()
                    $(`.blank-options${i}`).hide()
                }
            }).trigger('change')
        }

        function stopStreaming() {
            $("#stream_img").attr("src", "{{ url_for('static', filename='video_placeholder.jpg') }}")
            const sCamera = $("#selectStreamCamera");
            sCamera.prop("disabled", false);
            // $("#calibrate").prop("disabled", false);
            // $("#captureImage").prop("disabled", false);
            currentStreamingCamera = null
        }

        $("#streamButton").click(function () {
            let camName = $("#selectStreamCamera").val()
            $.post('/set_stream_camera', {camera: camName}).done(function (camera) {
                settingStreamCamera = true
                $("#selectStreamCamera").prop("disabled", true);
                // $("#calibrate").prop("disabled", true);
                // $("#captureImage").prop("disabled", true);
                // $(`input[value=${camera}]`).prop("disabled", true);
                $("#stream_img").attr("src", "{{ url_for('video_feed') }}")
                currentStreamingCamera = camName
                let tmt = setTimeout(() => {
                    settingStreamCamera = false
                    clearTimeout(tmt)
                }, 1000)
            }).fail(function () {
                stopStreaming()
            })
        });

        $("#stopStream").click(function () {
            $.post('/stop_stream_camera', {camera: $("#selectStreamCamera").val()}).done(function (camera) {
                stopStreaming()
            })
        });

        $("#captureImage").click(function () {
           $.post('/capture', {camera: $("#selectStreamCamera").val(), folder_prefix: $("#videoOutputPrefix").val()})
        });

        $("#stopExperiment").click(function () {
            $.get('/stop_experiment', function (data) {
                console.log(data)
                console.log('wait for trial to finish...')
                $.get('/get_experiment', function (data) {
                    console.log(data)
                });
            })
        });

        let experimentModal$ = $('#experimentModal')
        let saveExperimentModal$ = $('#saveExperimentModal')

        $startExpButton.click(function (event) {
            $.ajax({
                url: "/start_experiment",
                type: "POST",
                data: JSON.stringify(AllFields.values),
                contentType: "application/json",
                error: function (data) {
                    console.log(data.responseText)
                }
            })
            experimentModal$.modal('toggle');
        });

        $("#saveExperiment").click(() => {
            let params = AllFields.values
            console.log(params)
            params['name'] = $('#saveExperimentName').val()
            $.ajax({
                url: "/save_experiment",
                type: "POST",
                data: JSON.stringify(params),
                contentType: "application/json",
                beforeSend: function () {
                    console.log('>> saving experiment...')
                },
                success: function (res) {
                    console.log(`>> experiment ${params.name} was saved successfully`)
                    saveExperimentModal$.modal('hide');
                },
                error: function (data) {
                    console.log(data.responseText)
                    saveExperimentModal$.modal('hide');
                }
            })
        })

        $("#loadExperiment").click(() => {
            let experiment = $("#cachedExperimentsSelect").val()
            $.get(`/load_experiment/${experiment}`, (data) => {
                console.log(data)
                AllFields.values = data
                $('#loadExperimentModal').modal('hide');
            })
        })

        $(".closeSaveExperiment").click(() => {
            saveExperimentModal$.modal('hide');
        })

        $(".closeLoadExperiment").click(() => {
            $('#loadExperimentModal').modal('hide');
        })

        $("#saveScheduleButton").click(() => {
            $.post('/commit_schedule', {
                    start_date: $("#datetimepicker1").data().date,
                    experiment_name: $("#cachedExperimentsSelectSchedule").val(),
                    every: $("#isRepeatSchedule").is(":checked") ? Number($("#scheduleEveryMinutes").val()) : 0,
                    end_date: $("#datetimepicker2").data().date
            })
            $("#scheduleModal").modal('toggle');
        });

        $("#isRepeatSchedule").change(() => {
            let isRepeat = $("#isRepeatSchedule").is(":checked")
            if (isRepeat) {
                $("#repeatScheduleSection").show()
            } else {
                $("#repeatScheduleSection").hide()
            }
        }).trigger('change')

        $recordButton.click(function (event) {
            // event.preventDefault();
            $.ajax({
                url: "/record",
                type: "POST",
                data: JSON.stringify(Object.assign({
                    folder_prefix: $("#videoOutputPrefix").val(),
                    cameras: Cameras.value
                }, getAcquireStop())),
                contentType: "application/json",
                beforeSend: function () {
                    console.log('recording...')
                },
                complete: function (res) {
                    console.log(res.responseText)
                }
            })
            $("#recordModal").modal('toggle');
        });

        $("#stopRecord").click(function () {
            $.get("/manual_record_stop", function (data) {
                console.log(data)
            })
        })

        let $acquireStopSelect = $("#acquireStopSelect")
        $acquireStopSelect.change(function (e) {
            let acqValue = $("#acquireStopValue");
            acqValue.show()
            acqValue.prop('required', isValued);
        })
        $("#camerasInfo").click(function () {
            $.get('/cameras_info', function (data) {
                console.log(data)
            })
        })

        $("#calibrate").click(function (e) {
            $.post(`/calibrate`, {camera: $("#selectStreamCamera").val()}).done( function (data) {
                let bytestring = data['status']
                let image = bytestring.split('\'')[1]
                $("#stream_img").attr('src' , 'data:image/jpeg;base64,'+image)
            })
        })

        $("#clearOutputButton").click(function (e) {
            $("#record-output").empty()
        })

        $("#animalSummary").click(function (e) {
            $.get('/animal_summary', function (data) {
                appendOutput(data)
            })
        })

        function isMediaExperiment(i) {
            return $(`#blockTypeSelect${i}`).val() === 'media'
        }

        function isBlankExperiment(i) {
            return $(`#blockTypeSelect${i}`).val() === 'blank'
        }

        function isPsychoExperiment(i) {
            return $(`#blockTypeSelect${i}`).val() === 'psycho'
        }

        function getCheckedCameras() {
            let a = []
            $("#cams-checkboxes input").each(function (e) {
                if (this.checked && !this.disabled) {
                    a.push(this.value)
                }
            });
            return a.join(',')
        }

        function getAcquireStop() {
            let d = {};
            d[$acquireStopSelect.val()] = Number($("#acquireStopValue").val());
            return d;
        }

        function appendOutput(msg, color = 'black') {
            let container = document.createElement("div")
            let text = document.createTextNode(msg + '\n')
            container.appendChild(text)
            let msgArray = msg.split(' - ')
            if (msgArray.length >= 3) {
                switch (msgArray[2]) {
                    case 'ERROR':
                        color = 'red'
                        break
                    case 'WARNING':
                        color = 'Gold'
                        break
                    case 'EXCEPTION':
                        color = 'red'
                        break
                }
            } else {
                color = 'Indigo'
            }
            container.style.color = color
            $("#record-output").queue(function () {
                $(this).prepend(container).dequeue()
            })
        }

    })
</script>

<style>
    body {
        padding: 20px;
        overflow-x: hidden;
        /*overflow-y: hidden;*/
    }

    #footer {
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        padding: 1em;
        z-index: -5;
    }

    .top-border {
        border-top: 1.5px solid black;
    }

    .bottom-border {
        padding-bottom: 1em;
        border-bottom: 1.5px solid black;
    }

    .left-border {
        border-left: 1.5px solid black;
    }

    .right-border {
        padding-right: 1em;
        border-right: 1.5px solid black;
    }

    .control-panel {
        padding: 1em;
    }

    .toggle {
        margin-left: 2em;
    }

    .cams-labels {
        margin-bottom: 2px;
        width: 3em;
    }

    .scrollable {
        white-space: pre-wrap;
        overflow-y: auto;
    }

    #record-output {
        height: 250px;
        display: block;
    }

    .icon-button {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    .modal {
      overflow-y: auto;
     }

</style>

</html>