<div style="height: 100%">
    <form class="bottom-border">
        <h4>Cameras</h4>
        <div class="row">
            <div class="col-sm-auto">
                <div class="row" style="height: 26px"></div>
                {% for cam in cameras %}
                <div class="row ml-4">
                    <input class="form-check-input cam-checkbox" type="checkbox" value="{{cam}}" id="camera-{{cam}}"
                           disabled>
                    <label class="form-check-label cams-labels" for="camera-{{cam}}">{{cam}}</label>
                    <input id="toggle-{{cam}}" type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
                    <!--                <input class="form-check-input cam-prediction-checkbox" type="checkbox" value="{{cam}}"-->
                    <!--                       id="use-predictions-{{cam}}" style="position: relative;margin-left: inherit" disabled>-->
                </div>
                {% endfor %}
            </div>
            <div class="col">
                <div class="row">
                    {% for columnKey in ["cam-fps", "sink-fps", "pred-fps", "pred-delay", "predictors"] %}
                    <div class="col-sm-auto" style="margin-right: 1em; padding: 2px; text-align: center">
                        <span><b>{{ columnKey }}</b></span>
                        {% for cam in cameras %}
                        <div id="{{columnKey}}-{{cam}}" style="margin-bottom: 2px">
                            {% if columnKey=="predictors" %}
                            -
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </form>

    <div class="row" style="margin-top: 1em">
        <div class="col-md-7"></div>
        <div class="col">
            {% include "management/events.html" %}
        </div>
    </div>
</div>



