<div style="height: 100%">
    <div class="bottom-border">
        <form class="pl-2" style="padding-bottom: 0">
        <h4 class="p-2">Cameras</h4>
        <div class="row">
            <div class="col-sm-auto">
                <div class="row" style="height: 26px"></div>
                {% for cam in cameras %}
                <div class="row ml-4">
                    <input class="form-check-input cam-checkbox" type="checkbox" value="{{cam}}" id="camera-{{cam}}">
                    <label class="form-check-label cams-labels" for="camera-{{cam}}">{{cam}}</label>
                    <input id="toggle-{{cam}}" type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
                </div>
                {% endfor %}
                <div class="row ml-4">
                    <label class="form-check-label cams-labels" for="toggle-cam-trigger" style="font-weight: bold">Trigger</label>
                    <input id="toggle-cam-trigger" type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    {% for columnKey in ["cam-fps", "sink-fps", "pred-fps", "pred-delay", "predictors"] %}
                    <div class="col-sm-auto" style="margin-right: 1em; padding: 2px; text-align: center">
                        <span><b>{{ columnKey }}</b></span>
                        {% for cam in cameras %}
                        <div id="{{columnKey}}-{{cam}}" style="margin-bottom: 2px">
                            {% if columnKey=="predictors" %}
                            -
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </form>
    </div>


    <div class="row p-2">
        <div class="col-md-8">
            <div id="metrics-panel" class="row pt-2">
                <div class="col-md-6" style="padding-right: 0">
                    <div id="currentExperimentName"></div>
                    <div id="currentBlockID"></div>
                    <div id="openAppHostDiv"></div>
                    <div id="gpuMetric"></div>
                    <div id="cpuMetric"></div>
                    <div id="memMetric"></div>
                    <div id="storageMetric"></div>
                    <div id="nStrikes"></div>
                    <div id="nRewards"></div>
                    <pre id="temperatureValue"></pre>
                </div>
                <div class="col" style="padding-right: 0; padding-left: 0">
                    <pre id="procCPU"></pre>
                </div>
            </div>
        </div>
        <div class="col">
            {% include "management/events.html" %}
        </div>
    </div>
</div>



