<div style="height: 100%">
    <div class="bottom-border">
        <form class="pl-2" style="padding-bottom: 0">
        <h4 class="p-2">Cameras</h4>
        <div class="row">
            <div class="col-sm-auto">
                <div class="row" style="height: 26px"></div>
                {% for cam in cameras %}
                <div class="row ml-4">
                    <input class="form-check-input cam-checkbox" type="checkbox" value="{{cam}}" id="camera-{{cam}}">
                    <label class="form-check-label cams-labels" for="camera-{{cam}}">{{cam}}</label>
                    <button id="cam-settings-{{cam}}" type="button" class="btn" style="padding: 0">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <input id="toggle-{{cam}}" type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
                </div>
                {% endfor %}

                <div class="row ml-4">
                    <label class="form-check-label" for="toggle-cam-trigger" style="font-weight: bold;margin-left: -1.25rem;">Trigger</label>
                    <button id="trigger-settings" type="button" class="btn" style="padding: 0;margin-left: 0.9rem;">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <input id="toggle-cam-trigger" type="checkbox" checked data-toggle="toggle"
                           data-onstyle="success" data-offstyle="danger" data-size="xs" data-height="25">
                </div>

            </div>
            <div class="col">
                <div class="row">
                    {% for columnKey in ["cam-fps", "sink-fps", "pred-fps", "pred-delay", "predictors"] %}
                    <div class="col-sm-auto" style="margin-right: 1em; padding: 2px; text-align: center">
                        <span><b>{{ columnKey }}</b></span>
                        {% for cam in cameras %}
                        <div id="{{columnKey}}-{{cam}}" style="margin-bottom: 2px">
                            {% if columnKey=="predictors" %}
                            -
                            {% else %}
                            0
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </form>
    </div>


    <div class="row p-2">
        <div class="col-md-8">
            <div id="metrics-panel" class="row pt-2">
                <div class="col-md-6" style="padding-right: 0">
                    <div id="currentExperimentName"></div>
                    <div id="currentBlockID"></div>
                    <div id="openAppHostDiv"></div>
                    <div id="gpuMetric"></div>
                    <div id="cpuMetric"></div>
                    <div id="memMetric"></div>
                    <div id="storageMetric"></div>
                    <div id="nStrikes"></div>
                    <div id="nRewards"></div>
                    <pre id="temperatureValue"></pre>
                </div>
                <div class="col" style="padding-right: 0; padding-left: 0">
                    <pre id="procCPU"></pre>
                </div>
            </div>
        </div>
        <div class="col">
            {% include "management/events.html" %}
        </div>
    </div>
</div>

<!-- cam settings -->
<div class="modal fade" id="camSettingsModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Camera Settings for: </h5><h5 id="camSettingsCamName" style="padding-left: 1em;"></h5>
                <button type="button" class="close closeCameraSettings" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="cam-settings-modal-body">
                <form class="col" id="cam-settings-form">

                    <div class="form-group row">
                        <label for="cam-setting-exposure" class="col col-form-label">Exposure</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" id="cam-setting-exposure" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="cam-setting-mode" class="col col-form-label">Mode</label>
                        <div class="col-sm-7">
                            <select id="cam-setting-mode">
                                <option value="trigger">Trigger</option>
                                <option value="fps">FPS</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="camSettingsTriggerLineDiv">
                        <label for="cam-setting-trigger-line" class="col col-form-label">Trigger Line</label>
                        <div class="col-sm-7">
                            <select id="cam-setting-trigger-line">
                                <option value="Line1">Line1</option>
                                <option value="Line2">Line2</option>
                                <option value="Line3">Line3</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row" id="camSettingFPSDiv">
                        <label for="cam-setting-fps" class="col col-form-label">FPS</label>
                        <div class="col-sm-7">
                            <input id="cam-setting-fps" type="number" class="form-control"></input>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="cam-settings-modal-save" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary closeCameraSettings">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- trigger settings -->
<div class="modal fade" id="triggerSettingsModal" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Trigger Settings</h5>
                <button type="button" class="close closeTriggerSettings" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="trigger-settings-modal-body">
                <form class="col" id="trigger-settings-form">

                    <div class="form-group row">
                        <label for="trigger-setting-fps" class="col col-form-label">FPS</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control" id="trigger-setting-fps" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="trigger-manual-on" class="col col-form-label">Trigger Switch</label>
                        <div class="col-sm-2">
                            <button id="trigger-manual-on" type="button" class="btn btn-primary">ON</button>
                        </div>
                        <div class="col-sm-2">
                            <button id="trigger-manual-off" type="button" class="btn btn-primary">OFF</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="trigger-settings-modal-save" type="button" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-primary closeTriggerSettings">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    const cameras = "{{ cameras|join(',') }}".split(',')

    $("#cam-settings-modal-save").click((event) => {
        let camName = $("#camSettingsCamName").text()
        let data = {exposure: Number($("#cam-setting-exposure").val())}
        if ($('#cam-setting-mode').val() === "trigger") {
            data['fps'] = null
            data['trigger_source'] = $("#cam-setting-trigger-line").val()
        } else {
            data['fps'] = Number($("#cam-setting-fps").val())
            data['trigger_source'] = null
        }
        $.ajax({
            url: `/update_camera/${camName}`,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json",
            complete: function (res) {
                console.log(`Saved the following for ${camName}: ${data}`)
            }
        })
        $('#camSettingsModal').modal('hide')
    })

    $(".closeCameraSettings").click(() => {
        $('#camSettingsModal').modal('hide');
    })

    $(".closeTriggerSettings").click(() => {
        $('#triggerSettingsModal').modal('hide');
    })

    $("#cam-setting-mode").change(() => {
        let mode = $('#cam-setting-mode').val()
        if (mode==="trigger") {
            $("#camSettingsTriggerLineDiv").show()
            $("#camSettingFPSDiv").hide()
        } else {
            $("#camSettingsTriggerLineDiv").hide()
            $("#camSettingFPSDiv").show()
        }
    }).trigger('change')

    cameras.forEach((cam) => {
        $(`#cam-settings-${cam}`).click(() => {
            $.get(`/get_camera_settings/${cam}`, function (data) {
                $("#cam-setting-exposure").val(data.exposure)
                let mode = data.trigger_source ? 'trigger' : 'fps'
                $("#cam-setting-mode").val(mode).change()
                $("#cam-setting-fps").val(data.fps)
                $("#cam-setting-trigger-line").val(data.trigger_source)
            })
            $("#camSettingsModal").modal('toggle')
            $("#camSettingsCamName").text(cam)
        })
    })

    $("#trigger-settings").click(() => {
        $("#trigger-setting-fps").val("")
        $("#triggerSettingsModal").modal('toggle')
    })

    $("#trigger-settings-modal-save").click((event) => {
        let data = {fps: Number($("#trigger-setting-fps").val())}
        $.ajax({
            url: `/update_trigger_fps`,
            type: "POST",
            data: JSON.stringify(data),
            contentType: "application/json"
        })
        $('#triggerSettingsModal').modal('hide')
    })

    $("#trigger-manual-on").click(() => {
        $.post('/set_cam_trigger', {state: 1})
    })

    $("#trigger-manual-off").click(() => {
        $.post('/set_cam_trigger', {state: 0})
    })

</script>

