<div class="col">
    <form id="record_form">
        <div class="form-group row">
            <label for="videoOutputPrefix" class="col col-form-label">Folder Prefix</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="videoOutputPrefix">
            </div>
        </div>
        <h7 class="label">Acquire Stop</h7>
        <div class="form-group row">
            <div class="col">
                <select id="acquireStopSelect" class="form-control col">
                    {% for val, label in acquire_stop.items() %}
                    <option value="{{val}}">{{label}}</option>
                    {% endfor %}
                </select>
            </div>
            <input id="acquireStopValue" class="col-sm-4 ml-1" type="int" class="form-control"
                   placeholder="Value" required>
        </div>
        <div class="form-group row">
            <div class="col">
                <button id="runRecordButton" type="button" class="btn btn-primary mr-2">Run</button>
                <button id="stopRecord" type="button" class="btn btn-outline-danger mr-4">Stop Record
                </button>
                <button id="camerasInfo" type="button" class="btn btn-outline-info">Info</button>
            </div>
        </div>
    </form>
</div>