<div class="row">
    <img id="stream_img" src="{{ url_for('static', filename='video_placeholder.jpg') }}"
         width="640" height="420" class="mx-auto" style="z-index: 10">
</div>
<div class="row mt-4">
    <div class="col text-center">
        <select id="selectStreamCamera" class="form-control col-sm-3 mx-auto mb-2">
<!--            {% for cam in cameras %}-->
<!--                <option id="stream-option-{{cam}}" value="{{cam}}" disabled>{{cam}}</option>-->
<!--            {% endfor %}-->
        </select>
        <button id="streamButton" type="button" class="btn btn-primary mr-2">Stream</button>
        <button id="stopStream" type="button" class="btn btn-outline-danger">Stop Stream</button>
        <button id="captureImage" type="button" class="btn btn-outline-info">Capture</button>
        <button id="calibrate" type="button" class="btn btn-outline-info">Calibrate</button>
    </div>
</div>